@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}
* {
  color: var(--foreground);
  background-color: var(--background);
}

body {
  background: #f0f0f0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
